<div class="container-fluid">
  <!-- http://fossies.org/linux/www/piwik-2.7.0.tar.gz/piwik/plugins/CoreHome/angularjs/dialogtoggler/ngdialog.less -->
  {{disp}}
  {{createName}}
  {{searchId}}
  {{ctx}}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#lookup" role="tab" data-toggle="tab">Lookup</a></li>
    <li><a href="#create" role="tab" data-toggle="tab">Create</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="lookup">
      <search-panel search-id="searchId"></search-panel><br/>
    </div>
    <div class="tab-pane" id="create">
    </div>
  </div>

</div>
