<div class="dialog-contents container width800">

  {{disp}}
  {{createName}}
  {{searchId}}
  {{ctx}}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#lookup" role="tab" data-toggle="tab">Lookup</a></li>
    <li><a href="#create" role="tab" data-toggle="tab">Create</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="lookup">
      <search-panel search-id="searchId"></search-panel><br/>
      <hr/>
      scope : {{searchId}}  --done--
    </div>
    <div class="tab-pane" id="create">
    </div>
  </div>

</div>
