<h1>Research Output</h1>
<div ng-controller="KIObjectEditor as objedit" ng-init="init('uk.ac.jisc.lorix.ResearchOutput:NEW')">
  <form method="post" class="form-horizontal" role="form" ng-submit="processForm()">
    <input type="hidden" name="root.__oid" value="uk.ac.jisc.lorix.ResearchOutput:NEW" ng-model="root.__oid" />

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="root.title" name="root.name" placeholder="Title of work" ng-model="root.name">
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Provenance </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="root.provenance" name="root.provenance" placeholder="Provenance" ng-model="root.provenance">
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Reference </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="root.reference" name="root.reference" placeholder="Reference" ng-model="root.reference">
      </div>
    </div>

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Authors</label>
      <div class="col-sm-10">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name of participant</th>
              <th>Matched Person</th>
              <th>Domain Name</th>
              <th>Institution</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="author in root.people">
              <td><input type="text" ng-model="author.fullname"/></td>
              <td>RP::<reference-property ctx="author"></reference-property></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-success" type="button" ng-click="addNew('uk.ac.jisc.lorix.AuthorName','root.people')">Add Author</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>
  </form>

  Some scope variables.... oe: {{root}} 
</div>
